:root {
  --dodi-claro: #7fadbd;
  --dodi-celeste: #c2e8f1;
  --dodi-oscuro: #043458;
  --dodi-vibrante: #147da3;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f4f8;
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/symphony.png');
  background-repeat: repeat;
  background-size: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
}

h2 {
  border-left: 6px solid #147da3;
  padding-left: 0.75rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
